<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="mt-2 p-2">

          <div class="d-flex justify-content-between">
            <h4>Nuevo Producto</h4>
          </div>

          <hr/>

            <form [formGroup]="form" (ngSubmit)="submit()">

                <div class="form-group row">
                    <div class="col-md-10 ">
                      <label for="title">Nombre:</label>
                      <input
                        formControlName="nombre_proveedor"
                        id="nombre_proveedor"
                        type="text"
                        class="form-control">

                    </div>
                    <input (click)="multiplicar" [ngModel]="numero">{{numero}}
                    <input type="number" value="{{numero1}}" [ngModel]="numero1">
                </div>

      <div class="m-2 p-2">
        <button class="btn btn-outline-success m-2" type="submit" [disabled]="!form.valid" data-bs-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-outline-secondary m-2" data-bs-dismiss="modal" (click)='limpiar()'>Close</button>
      </div>
            </form>
        </div>

      </div>
    </div>
  </div>
</div>
