<section>

  <div class="d-flex justify-content-between m-2">
    <h4>Lista de Productos</h4>
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class='bx bxs-file-plus'></i></button>
  </div>
<app-create></app-create>
  <table class="table table-success">
    <thead>
    <tr class="text-center">
      <th>ID</th>
      <th>Nombre</th>
      <th colspan="2">Acciones</th>
    </tr>
    </thead>
    <tbody>
      <ng-template #notregistered>
        <p>nadie registrado</p>
    </ng-template>
       <tr class="text-center" *ngFor="let proveedor of proveedor">
      <td>{{ proveedor.id }}</td>
      <td>{{ proveedor.nombre_proveedor }}</td>
      <td><a href="#" [routerLink]="['/proveedor/', 'edit', proveedor.id  ]" class="btn btn-outline-primary"><i class='bx bx-edit'></i></a></td>
      <td><button type="button" (click)="deleteProveedor(proveedor.id)" class="btn btn-outline-danger"><i class='bx bxs-message-x' ></i></button></td>
    </tr>
    </tbody>
  </table>
</section>
